<header>
  <div class="wrapper">
    <div class="title">
      <h3>My GApi projects</h3>
    </div>
  </div>
</header>

  <!-- [formGroup]="form" -->
  <select [ngModel]="selectedMarker" (ngModelChange)="onChange($event)"> 
    <option *ngFor="let marker of markers" [ngValue]="marker">
      <!-- [ngValue]="location" -->
      {{ marker.name }}
    </option>
  </select> 

<main>
  <agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="15" 
    [disableDefaultUI]="true"
    [zoomControl]="true">
      <agm-marker
      [latitude]="selectedMarker.lat" 
      [longitude]="selectedMarker.lng">
      </agm-marker> 
      <!-- *ngFor="let marker in markers"  -->
  </agm-map>
</main>
<!-- <footer>
  <div class="fotter">
    
  </div>
</footer> -->

  